[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "7.17.7"
servicex_storage = {git = "https://github.com/ssl-hep/servicex_storage_lib",  ref = "d2718063cc3f7f7729e649bdb927e50816c3de61"}

[dev-packages]

[requires]
python_version = "3.11"
