[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "7.17.7"
servicex_storage = {git = "https://github.com/ssl-hep/servicex_storage_lib",  ref = "5e2e8f4cb6403c5841c4f614ac93e3b1d0c24365"}
requests = "2.28.1"
types-requests = "2.28.11.2"

[dev-packages]

[requires]
python_version = "3.11"
